<template name="addAppointment">
  {{#if currentUser}}
  <form id="add-appointment">

<div class='col-sm-6'>
  <div class="form-group">
    <div class='input-group date' id="datepicker">
      <input onkeydown="return false" type='text' class="form-control" name="datePicker" data-DateTimePicker="date" placeholder="Pick a Date" title="Pick a Date"/>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
</div>

<div class='col-sm-6'>
  <div class="form-group">
    <div class="ui toggle checkbox" id="availability">
  <input type="checkbox" name="public">
  <label>Slide to indicate whole day not free</label>
    </div>
  </div>
</div>

<br>  
<br> 

<div class='col-sm-6'>
  <div class="form-group">
    <div class='input-group date' id="start_time">
      <input onkeydown="return false" type='text' class="form-control" name="startTime" data-DateTimePicker="startTime" placeholder="Start Time" title="Start Time"/>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
      </span>
    </div>
  </div>
</div>

<div class='col-sm-6'>
  <div class="form-group">
    <div class='input-group date' id="end_time">
      <input onkeydown="return false" type='text' class="form-control" name="endTime" data-DateTimePicker="endTime" placeholder="End Time" title="End Time"/> 
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
      </span>
    </div>
  </div>
</div>

<div class='col-sm-6'>
  <div class="form-group">
    <input type="submit" class="btn btn-success btn-block" id="blockout" value="Block Out Date">
  </div>
  </div>

 <div class="row">
    <div class="col-sm-12">

  <div class='col-sm-6'>
    <input type="submit" class="btn btn-success btn-block" id="confirm" value="Confirm Edit">
  </div>

  <div class='col-sm-6'>
    <input class="btn btn-success btn-block" id="cancel" value="Cancel">
  </div>

    </div>
  </div>

</form>
{{/if}}
</template>
