<template name="addAppointment">
  <form id="add-appointment">
    <div class="row">
      <div class="col-xs-8">
        <div class="form-group">
        /*datetimepicker as class to select the input later & data-DateTimePicker as attribute*/
          <input type="text" class="form-control datetimepicker" data-DateTimePicker name="appointment" placeholder="Pick a Date">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <button class="btn btn-success btn-block"> Block Out Date </button>
        </div>
      </div>
    </div>
  </form>
</template>
