<template name="appointments">
  {{#if currentUser}}
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
       <div class='col-sm-6'>
       <button class="ui button" id="backbtn">
        Back
      </button>
      </div>
      <div class='col-sm-6'>
       <button class="ui button" id="logout">
        Log Out
      </button>
      </div>
      <h4 class="page-header">Select date and time unavailable</h4>
      {{> addAppointment}}
    </div>
  </div>
  {{/if}}
</template>
