<template name="appointments">
  {{#if currentUser}}

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h4 class="page-header">Select date and time unavailable</h4>
      {{> addAppointment}}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h4 class="page-header">Current blocked out dates</h4>
      <ul class="list-group appointments-list">
        {{#each appointments}}
          <li class="list-group-item" style="text-align: center">
            {{string}} <!--list items in string form-->
            <div class="small icon ui basic buttons">
              <div class="ui icon button" id="edit" title='edit'> 
        		<i class="edit icon"></i>
    	      </div>
    		  <div class="ui icon button" id="delete" title='delete'> 
         	    <i class="trash icon"></i>
    	      </div> 
    		</div>
    	  </li>
        {{/each}}
      </ul>
    </div>
  </div>

  {{> modal}}

  {{/if}}
  
</template>


