<template name="editCalendar">

<div class="ui grid">
  <div class="one wide column centered" id='eventActions' style="padding:0">
    <div class="ui compact vertical icon menu" style= "margin-top: 61px">
      {{#if eventMode}}
        <a class="item" id="edit" title="Edit">
          <i class="edit icon"></i>
        </a>
        <a class="item" id="delete" title="Delete">
          <i class="trash alternate icon"></i>
        </a>
        <a class="item" id="shift" title="Shift match to this week">
          <i class="level down icon"></i>
        </a>
      {{else}}
        <a class="item" id="add" title="Add a match">
          <i class="plus icon"></i>
        </a>
      {{/if}}
    </div>
  </div>

  <div class="fifteen wide column centered">

  
    <!--Add the events calendar to the template.-->
    <div id="calendar"></div>
   
    <br>
    {{ > tooltips }}
    
    <div class="ui modal">
    
      <div class = "content">
        {{> calendarModal}}
      </div>
    </div>


    <div class="ui negative message">
      <i class="close icon"></i>
      <div class="header">
        Conflict! Player(s) involved in both matches. 
      </div>
      
      {{#each clashes}}
        <p> Players involved in both {{sport1}} and {{sport2}}: 
          {{#each user in users}}
          <ul>
            <li> {{user}}</li>
          </ul>
          {{/each}}
        </p>
      {{/each}}
    </div>
  </div>
</div>
  
</template>
