<template name = "calendarButton">

{{#if isEditMode}} 
<div class = "icon buttons">
  <button class="ui icon button" id="edit">
      <i class="edit icon"></i>
  </button>
  <button class="ui icon button" id="delete">
      <i class="trash alternate icon"></i>
  </button>
  <button class="ui icon button" id="view">
      <i class="eye icon"></i>
  </button>
</div>

{{else}}
<div class ="ui button teal" id="addMatch"> 
  <i class="plus icon"></i>Add a match
</div>

{{/if}}
<div class="ui modal">
  
  <div class = "content">
  {{> calendarModal}}
</div>
</div>
</template>

