<template name="mainpage">

  <div class ='ui center aligned container'>
  	<span></span> <!--extra padding on top-->

  	<h1 class = "ui header"> 
  		IHG Scheduling System 
  		<div class="sub header"> Welcome! </div>
  	</h1>

	  <div class="ui massive buttons">
  		<button class="ui button playerUse" title="Login as IHG player"> 
  			Player Login 
  		</button>
  		
  		<div class="or"></div>
  		
  		<button class="ui button conveningUse" title="Login as Convening committee"> 
  			Convening Login 
  		</button>
 	  </div>


 	  <div class="ui large message">
        
      <div class="at-signup-link at-wrap">
    	  <p>
      		Don't have an account?
      		<a href="#" id="at-signUp" class="at-link at-signup">Register</a>   
    	  </p>

      </div>

    </div>

  </div>

</template>
