<template name="modal">

  <div class="ui right floated primary submit button">Submit</div>

  <div class="ui basic modal" >
    <div class="ui icon header" style="margin-top: 10%">
      <i class="save icon"></i>
        Confirm Blocked Out Dates
    </div>
    
    <div class="content" style="text-align: center">
      <p> Are you sure your blocked out dates are correct? You will no longer be able to make changes after this.</p>
    </div>
        
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>

</template>