<template name="sidebar">
  {{#if currentUser}} <!--ensure logged in-->

  <div class="ui overlay inverted visible left sidebar vertical labeled icon menu">

    <div class=" header item" style="padding-top:25px; text-align: left;padding-bottom: 25px">
      <h3 class="ui inverted header">
        <i class=" user circle icon"></i>
        <div class="content">
          Just testing some very long name
          <div class="sub header">NusnetID</div>
        </div>
      </h3>
    </div>

    <a class="item sports active">
      <i class="volleyball ball icon "></i> Sports Teams 
    </a>

    <a class="item availability">
      <i class=" calendar alternate outline icon"></i> Availability
    </a>

    <a class="item confirm">
      <i class=" check square icon"></i> Confirmation
    </a>

      <br style="line-height:10">
    <div >

      {{> atNavButton}}
      
    </div>

  </div>

  
  <div class="pusher" style="margin-top: 20px; width: calc(100% - 210px); margin-left: 210px">
    <div class = "ui container">
      {{> Template.dynamic template=tab}}
    </div>
  </div>
  {{/if}}
  
</template>
