<template name="teams"> 
  <form class="ui large form {{#if submitted}} disabled {{/if}}">
    <p>Let us know which teams you are representing in IHG!</p>
      <br>

      <div class="two fields">

        <div class="field">
          <label>Hall of Residence</label>
          <select class="ui dropdown" name="hall">
            <option value="">Hall of Residence</option>
            <option value="Eusoff">Eusoff Hall</option>
            <option value="Kent Ridge">Kent Ridge Hall</option>
            <option value="King Edward VII">King Edward VII Hall</option>
            <option value="Raffles">Raffles Hall</option>
            <option value="Sheares">Sheares Hall</option>
            <option value="Temasek">Temasek Hall</option>
            <option value="PGP">PGP House</option>
          </select>
        </div>


        <div class="field">
          <label>Gender</label>
          <select class="ui dropdown" name="gender" id="gender">
            <option value="">Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>  
      </div>

        <div class="{{disabled}} field">
          <label>Teams</label>
          <select name="teams" multiple="" class="ui dropdown" id="teams">
            <option value="">Select Teams</option>
            
            {{#if isFemale}} <!--reactive rendering based on gender field chosen-->
            <option value="Badminton(F)">Badminton(F)</option>
            <option value="Basketball(F)">Basketball(F)</option>
            <option value="Floorball(F)">Floorball(F)</option>
            <option value="Frisbee">Frisbee</option>
            <option value="Handball(F)">Handball(F)</option>
            <option value="Netball">Netball</option>
            <option value="Road Relay">Road Relay</option>
            <option value="Soccer(F)">Soccer(F)</option>
            <option value="Softball">Softball</option>
            <option value="Squash(F)">Squash(F)</option>        
            <option value="Swimming(F)">Swimming(F)</option>
            <option value="Table Tennis(F)">Table Tennis(F)</option>
            <option value="Tennis(F)">Tennis(F)</option>
            <option value="Touch Rugby(F)">Touch Rugby(F)</option>
            <option value="Track and Field">Track and Field</option>
            <option value="Volleyball(F)">Volleyball(F)</option>
            
            {{else}}
            
            <option value="Badminton(M)">Badminton(M)</option>
            <option value="Basketball(M)">Basketball(M)</option>
            <option value="Floorball(M)">Floorball(M)</option>
            <option value="Frisbee">Frisbee</option>
            <option value="Handball(M)">Handball(M)</option>
            <option value="Road Relay">Road Relay</option>
            <option value="Sepak Takraw">Sepak Takraw</option>
            <option value="Soccer(M)">Soccer(M)</option>
            <option value="Softball">Softball</option>
            <option value="Squash(M)">Squash(M)</option>        
            <option value="Swimming(M)">Swimming(M)</option>
            <option value="Table Tennis(M)">Table Tennis(M)</option>
            <option value="Tennis(M)">Tennis(M)</option>
            <option value="Touch Rugby(M)">Touch Rugby(M)</option>
            <option value="Track and Field">Track and Field</option>
            <option value="Volleyball(M)">Volleyball(M)</option>

            {{/if}}
            </select>  
        </div>  
    <br>
    <div class="ui right floated primary submit button">Submit</div>
  </form>
</template>
